@model IEnumerable<App.Models.Product.CategoryProduct>

@{
    ViewData["Title"] = "Index";
}
<partial name="_StatusMessage" />
<div class="app-content-header">
    <div class="container-fluid">
        <h1>Danh sách Danh mục sản phẩm</h1>
    </div>
</div>
<hr>
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <p>
            <a asp-action="Create" class="btn btn-primary">Thêm bài đăng</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Content)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Slug)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Slug)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info text-white">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>