@model MVC.Models.Product.UploadOneFile;
@using App.Models.Product
@{
    ProductModel? product = ViewData["product"] as ProductModel;
}
<h1> Upload Photo: @product.Title </h1>

<form method="post" enctype="multipart/form-data" asp-action="UploadPhoto">
    <label asp-for="@Model.FileUpLoad"></label>
    <input asp-for="@Model.FileUpLoad">
    <span asp-validation-for="@Model.FileUpLoad"></span>
    <button class="btn btn-primary" type="submit" asp-action="UploadPhoto"
        asp-route-id="@product.ProductId">Upload</button>
</form>

<hr>
<input class="collapse" type="file" id="selectfileupload" onchange="AutoUploadPhoto()">
<span class ="btn btn-primary" onclick="ClickButtonUpload()">Upload</span>
<br>
<div id="box-photo-upload" class="d-flex flex-wrap photo-upload" data-id="@product.ProductId">

</div>

@section Scripts {
    <script>
        function ClickButtonUpload(){
            $('#selectfileupload').click();
        }
        function AutoUploadPhoto() {
            var formData = new FormData();
            var id = $("#box-photo-upload").data("id");
            formData.append("id", id);

            var fileCount = document.getElementById("selectfileupload").files.length; 
            if (fileCount == 0) return;

            var fileData = document.getElementById("selectfileupload").files[0];
            formData.append("FileUpLoad", fileData);
            var urlUpload = "@Url.Action("UploadPhotoAPI")";

            $.ajax({
                data: formData,
                cache: false,
                url: urlUpload,
                type: "POST",
                contentType: false,
                processData: false,
                success: function (data) {
                    LoadPhotos();
                },
                error: function (xhr, status, error) {
                    console.error("Lỗi AJAX: " + error);
                }
            });
        }

        function setClickDeletePhoto() {
            $("#box-photo-upload .photodetail span").click(function () {
                var spanButton = $(this);
                var id = spanButton.data("id");

                var formData = new FormData();
                formData.append("id", id);

                var urlDeletePhoto = "@Url.Action("DeletePhoto")";

                $.ajax({
                    data: formData,
                    cache: false,
                    url: urlDeletePhoto,
                    type: "POST",
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        LoadPhotos();
                    },
                    error: function (xhr, status, error) {
                        console.error("Lỗi AJAX: " + error);
                    }
                });
            });
        }

        function LoadPhotos() {
            var box = $("#box-photo-upload");
            var productId = box.data("id");

            box.empty();

            var formData = new FormData();
            formData.append("id", productId);

            var urlListPhoto = "@Url.Action("ListPhotos")";

            $.ajax({
                data: formData,
                cache: false,
                url: urlListPhoto,
                type: "POST",
                contentType: false,
                processData: false,
                success: function (data) {
                    data.photos.forEach(function (item) {
                        var e = $(
                            '<div class="photodetail w-25 p-1">' +
                            '<img class="w-100" src="' + item.path + '" alt="">' +
                            '<span class="btn btn-danger" data-id="' + item.id + '">Delete</span></div>'
                        );

                        box.append(e);
                    });
                    setClickDeletePhoto();
                },
                error: function (xhr, status, error) {
                    console.error("Lỗi AJAX: " + error);
                }
            });
        }

        $(document).ready(function () {
            LoadPhotos();
        });
    </script>


}